
        <!--Content Section-->
        <div id="services" class="scrollto clearfix" *ngIf="services">

          <div class="row no-padding-bottom clearfix">


              <!--Content Left Side-->
              <div class="col-3">
                  <!--User Testimonial-->
                  <blockquote class="testimonial text-right bigtest">
                      <q>Logre descubrir que TukiApp te lleva a lugares que nunca pensaste conocer y te insita
                          a hacer retos culturales para poder conocer mejor la cultura del pais
                          </q>
                      <footer>— Andres, Viajero frecuente de TukiApp</footer>
                  </blockquote>
                  <!-- End of Testimonial-->

              </div>
              <!--End Content Left Side-->

              <!--Content of the Right Side-->
              <div class="col-3">
                  <div class="section-heading">
                      <h3>{{services.tagline}}</h3>
                      <h2 class="section-title">{{services.title}}</h2>
                      <p class="section-subtitle">{{services.description}}</p>
                  </div>
                  <p>Las ruinas incas de Choquequirao es considerado como el ultimo refuigo ica,
                      porque aqui se refugiaron los ultimos incas que hicieron
                      resiterncia frente a la invasion española
                  </p>
                  <p>
                      
                  </p>
                  <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
                  <a href="#" data-videoid="AsmE7OtfoG8" data-videosite="youtube" class="button video link-lightbox">
                      Ir al Reto<i class="fa fa-play" aria-hidden="true"></i>
                  </a>
              </div>
              <!--End Content Right Side-->

              <div class="col-3">
                  <img src="assets/images/tukipic.jpg" alt="Dancer"/>
              </div>

          </div>


      </div>
      <!--End of Content Section-->